li{
    font-family: "Roboto";
    font-weight: bold;
}

h2, h1, h6{
    font-family: "Roboto";
    font-weight: bold;
}
.headers{
    width: 100%;
    background: #f5cd91;
    
}
.headers ul{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
}

.headers ul li{
    list-style: none;
    line-height: 80px;
    text-align: center;
}

.headers ul li{
    vertical-align: middle;
}

.headers ul li a{
    color: black;
    text-decoration: none;
}

p{
    font-family: "Roboto";
    font-weight: normal;
}

.imgBox img{
    width: 100%;
}

.imgBox .cartoon{
    height: auto;
    position: absolute;
    left: 40%;
    background:rgba(100, 100, 100, 0.5);
}


.circle{
    position: relative;
    bottom: 30px;
    text-align: center;
    height: 14px;
}

.imgBox p{
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
    
}
.circle .cirbox{
    padding: 0;
    display: inline-block;
    width: auto;
    border-radius: 7px;
    font-size: 0; 
}
.circle .cirbox li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin:0 10px;
}
.article_list img{
    width: 100%;
}

.article_list p{
    text-align: center;
    width: 90%;
}

.more{
    width: 30%;
    background-color: #f5cd91;
    vertical-align: middle;
}

.more a{
    font-weight: 700;
    color: black;
    text-decoration:none
}

.article_list > div{
    text-align: center;
}

#bottom{
    background-color: black;
    color: white;
    text-align: center;
}

.main_img{
    width: 90%;
    margin: 40px 5%;
}

#cartoon_text{
    width: 100%;
    margin: 0px;
    padding: 0;
    text-align: center;
}

.cartoon_box img{
    vertical-align: middle;
}

#box_header h2{
    width: 170px;
    margin: auto;
}
.playbill p{
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
}
.img1{
    display: block;
}

.img2{
    display: none;
}

.img3{
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:#D2B48C;
    color: #555;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-weight: 800;
  }
  
#myBtn:hover {
    background-color: #6495ED;
    color: white;
}
