li{
    font-family: "Roboto";
    font-weight: bold;
}

h2, h1, h6{
    font-family: "Roboto";
    font-weight: bold;
}
.headers{
    width: 100%;
    background: #f5cd91;
    
}
.headers ul{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
}

.headers ul li{
    list-style: none;
    line-height: 80px;
    text-align: center;
}

.headers ul li{
    vertical-align: middle;
}

.headers ul li a{
    color: black;
    text-decoration: none;
}

p{
    font-family: "Roboto";
    font-weight: normal;
}

.imgBox img{
    width: 100%;
}

.imgBox .cartoon{
    height: auto;
    position: absolute;
    left: 40%;
    background:rgba(100, 100, 100, 0.5);
}

.img1{
    display: block;
}

.img2{
    display: none;
}

.img3{
    display: none;
}
.circle{
    position: relative;
    bottom: 30px;
    text-align: center;
    height: 14px;
}

.imgBox p{
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
    
}
.circle .cirbox{
    padding: 0;
    display: inline-block;
    width: auto;
    border-radius: 7px;
    font-size: 0; 
}
.circle .cirbox li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin:0 10px;
}
.article_list img{
    width: 100%;
}

.article_list p{
    text-align: center;
    width: 90%;
}

.more{
    width: 30%;
    background-color: #f5cd91;
    vertical-align: middle;
}

.more a{
    font-weight: 700;
    color: black;
    text-decoration:none
}

.article_list > div{
    text-align: center;
}

#bottom{
    background-color: black;
    color: white;
    text-align: center;
}

.main_img{
    width: 90%;
    margin: 40px 5%;
}

#cartoon_text{
    width: 100%;
    margin: 0px;
    padding: 0;
    text-align: center;
}

.cartoon_box img{
    vertical-align: middle;
}

#box_header h2{
    width: 170px;
    margin: auto;
}
.playbill p{
    text-align: center;
    position: relative;
    color: white;
    font-weight: bold;
}

@media all and (max-width: 800px){
    .playbill p{
        bottom: 95px;
    }
    #hamster_head{
        height: 100px;
    }
    .playbill img{
        margin: 0 auto;
        height: 140px;
        width: 90%;
    }
    #article2 img{
        height: 181px;
    }
    .more{
        margin-top: 20px;
        height: 26px;
        margin-left: 35%;
        padding-top:5px;
        border-radius: 6px;
    }

    .more a{
        
        margin: 20px 0;
        font-size: small;
    }

    .headers{
        height: 80px;
    }
    .headers ul{
        width: 80%;
        display: table;
        table-layout: fixed;
    }
    .headers ul li{
        display: table-cell;
    }
    
    .headers ul li a{
        font-weight: 550;
        font-size: 15px;
    }
    
    .imgBox{
        height: 250px;
    }

    .imgBox img{
        height: 260px;
    }

    .imgBox .cartoon{
        width: 20%;
    }

    .imgBox p{
        font-size: x-small;
        bottom: 80px;
    }

    
    .article_list h5{
        margin: 15px 0;
    }

    .article_list h6{
        margin: 8px 0;
    }

    .article_list h1{
        margin: 10px 0;
    }
    
    .article_list h2{
        margin: 10px 0;
    }
    
    .article_list > div{
        margin: 50px 0;
        text-align: center;
    }
    .article_list div img{
        /* height: 200px; */
        width: 90%;
        margin: 5px 0;
    }
    .article_list p{
        text-align: center;
        margin: 10px auto;
        width: 90%;
        font-size: 5px;
    }
    
    
    #cartoon_text p{
        font-size: 10px;
    }
    
    
    .cartoon_box{
        margin: 40px 0;
        width: 100%;
        text-align: center;
    }
    .cartoon_box div{
        width: 50px;
        display: inline-block;
    }
    .cartoon_box img{
        height: 50px;
    }
    #cartoon_main{
        height: 100px;
    }

    #hamster{
        background-image: url(../images/home-hamster.jpg);
        background-position: -50px -350px;
        background-size: 423px auto;
        height: 181px; width: 323px;
        margin: 0 auto;
    }
    #bigimg_hamster{
        background-image: url(../images/hamster-MI1.jpg);
        background-position: -50px -150px;
        background-size: 423px auto;
        height: 181px; width: 90%;
        margin: 0 auto;
    }
    #bottom{
        height: 80px;
        width: 100%;
        margin: 0px;
        padding: 0;
    }
    #bottom h5{
        font-size: 1600;
        margin: 0px; 
        padding-top: 20px;
    }
}

@media all and (min-width: 800px){
    .headers{
        height: 90px;
    }    
    .headers ul{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 90px;
        padding: auto;
    }
    .headers ul li a{
        font-weight: 550;
        font-size: 25px;
    }
    .main_img{
        height: 450px;
    }
    .imgBox img{
        height: 600px;
    }

    .imgBox .cartoon{
        width: 15%;
    }
    .imgBox p{
        font-size: 180%;
        bottom: 120px;
    }

    .article_list{
        margin-top: 80px;
    }

    .article_list h1{
        font-size: 180%;
    }

    #article0{
        margin: 0 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30px 280px 50px 90px;
        grid-row-gap: 20px;
        grid-column-gap: 15px;
    }
    #article0 img{
        height: 280px;
    }
    #article0 h1{
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #img_2{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    #article0 h6:nth-child(6){
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .article_list h6{
        font-size: 140%;
        grid-row-gap: 10px;
        margin-top: 100%;
        margin: auto;
    }
    .article_list p{
        font-size: 110%;
    }
    .more{
        width: 191px;
        margin: auto;
        padding-top: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
        height: 35px;
        border-radius: 32px;
    }
    .more a{
        font-size: 120%;
    }

    .index_article{
        width: 80%;
        margin: 80px auto;
    }
    .index_article *:not(.more){
        margin: 20px 0 ;
        /* margin: 30px 0; */
    }
    .index_article .more{
        margin-top: 40px;
    }
    #hamster{
        background-image: url(../images/home-hamster.jpg);
        background-position: -150px -980px;
        height: 281px; width: 100%;
    }

    #cartoon_text h1{
        font-size: 220%;
    }
    #cartoon_text p{
        margin-top: 30px;
        font-size: 120%;
    }

    .cartoon_box{
        width: 80%;
        margin: 0 auto;
        /* padding: auto; */
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-rows: 300px;
    }
    .cartoon_box div{
        width: 100%;
    }
    .cartoon_box *{
        margin: auto;
    }
    .cartoon_box img{
        height: 80px;
    }

    #cartoon_main{
        height: 200px;
    }
    .node_article{
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .node_article>div{
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 255px 255px 80px;
        grid-gap: 10px;
    }
    .node_article img{
        height: 255px;
    }
    .node_article>div>h2{
        margin: auto 0;
        font-size: 180%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .node_article>div>img:nth-child(4){
        
        width: 50%;
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .node_article>div>p{
        margin-top: 10px;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 110%;
    }

    #box_header h2{
        width: 260px;
        font-size: 160%;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    #hamster_head{
        height: 180px;
    }
    .playbill img{
        height: 300px;
        width: 90%;
    }
    .playbill p{
        font-size: 180%;
        bottom: 155px;
    }
    #bigimg_hamster{
        background-image: url(../images/hamster-MI1.jpg);
        background-position: -50px -150px;
        background-size: 423px auto;
        height: 255px; width: 100%;
        margin: 0 auto;
    }
    #bottom{
        height: 100px;
        width: 100%;
        margin: 0px;
    }
    #bottom *{
        margin: 10px 0;
    }
    #bottom h5{
        font-size: 120%;
        padding-top: 30px;
    }
}